# Bash DotFiles
.bash_history
.bash_logout
.bashrc
.bash_profile

# Zsh Files
.config/zsh/.histfile
.config/zsh/.zcompdump
.config/zsh/.zshrc.zni
.config/shell/zshnameddirrc
.zsh_history
.zcompdump
.zcompdump*

# Config Files which need not be maintained
.config/background
.config/calcurse/
.config/dleyna-renderer-service.conf
.config/dleyna-server-service.conf
.config/evolution/
.config/gtk-3.0/bookmarks
.config/gtk-4.0/
.config/nautilus/
.config/pavucontrol.ini
.config/user-dirs.locale
.config/BraveSoftware/
.config/Code/
.config/GIMP/
.config/Microsoft/
.config/QtProject.conf
.config/VirtualBox/
.config/autostart/
.config/chromium/
.config/configstore
.config/dconf/
.config/geany/
.config/google-chrome/
.config/htop/
.config/lf/shortcutrc
.config/menus/
.config/neofetch/
.config/nvm/
.config/nvim/autoload/
.config/nvim/plugged/
.config/pulse/
.config/spotify
.config/teams/
.config/transmission-daemon/
.config/transmission-remote-gtk
.config/transmission/
.config/ncmpcpp/error.log
.config/youtube-viewer/
.config/xfce4/
.config/.mono/
.config/KeePass/
.config/JetBrains/
.config/libreoffice/
.config/Thunar/

# Git Files
.gitconfig
.git-credentials

# Other software dot files
.F5Networks/
.Xauthority
.ICEauthority
.cache/
.gnome/
.gnupg/
.mozilla/
.node-gyp/
.npm/
.nvm/
.pki/
.python_history
.thunderbird/
.viminfo
.vscode/
.var/
.pub-cache/
.lesshst
.cargo/
*.log
.java/
.dmrc
.xsession-errors*
.azure/
.dotnet/
.nuget/
.aspnet/

# User directories
Documents/
Downloads/
Pictures/
Videos/
dev/
cli/
lib/
*.txt
*.jpg
*.png
*.mkv
*.mp4
vimwiki/

# .Local Files
.local/bin/azure-cli/
.local/bin/kubectl/
.local/src
.local/share/bg
.local/share/crypto-prices/
.local/share/desktop-directories/
.local/share/history
.local/share/mimeapps.list
.local/share/newsboat
.local/share/nvim
.local/share/recently-used.xbel
.local/share/weatherreport
.local/share/xorg/
.local/share/zathura/
.local/share/applications/mimeinfo.cache
.local/share/applications/mimeapps.list
.local/share/applications/chrome-*-Default.desktop
.local/share/applications/jetbrains*.desktop
.local/share/*.jpg
.local/share/calcurse/
.local/share/epiphany/
.local/share/evolution/
.local/share/flatpak/
.local/share/folks/
.local/share/gnome-photos/
.local/share/gnome-settings-daemon/
.local/share/gnome-shell/
.local/share/grilo-plugins/
.local/share/gvfs-metadata/
.local/share/icc/
.local/share/keyrings/
.local/share/telepathy/
.local/share/tracker/
.local/share/nautilus/
.local/share/ranger/
.local/share/JetBrains/
.local/share/mime/
.local/share/lf/
.local/share/NuGet/
