# Bash DotFiles
.bash_history
.bash_logout
.bashrc
.bash_profile

# Zsh Files
.config/zsh/.histfile
.config/zsh/.zcompdump
.config/zsh/.zshrc.zni
.config/shell/zshnameddirrc

# Config Files which need not be maintained
.config/BraveSoftware/
.config/Code/
.config/GIMP/
.config/Microsoft/
.config/QtProject.conf
.config/VirtualBox/
.config/autostart/
.config/chromium/
.config/configstore
.config/dconf/
.config/geany/
.config/google-chrome/
.config/htop/
.config/lf/shortcutrc
.config/menus/
.config/neofetch/
.config/nvm/
.config/nvim/autoload/
.config/nvim/plugged/
.config/pulse/
.config/spotify
.config/teams/
.config/transmission-daemon/
.config/transmission-remote-gtk
.config/transmission/

# Git Files
.gitconfig
.git-credentials

# Other software dot files
.F5Networks/
.Xauthority
.cache/
.gnome/
.gnupg/
.mozilla/
.node-gyp/
.npm/
.nvm/
.pki/
.python_history
.thunderbird/
.viminfo
.vscode/

# User directories
Documents/
Downloads/
Pictures/
dev/
cli/
*.txt
*.png
vimwiki/

# .Local Files
.local/src
.local/share/bg
.local/share/crypto-prices/
.local/share/desktop-directories/
.local/share/history
.local/share/mimeapps.list
.local/share/newsboat
.local/share/nvim
.local/share/recently-used.xbel
.local/share/weatherreport
.local/share/xorg/
.local/share/zathura/
.local/share/applications/mimeinfo.cache
.local/share/applications/chrome-*-Default.desktop
